<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjh.dao.EmpMapper">

	<resultMap id="Emp_Dept_Map" type="Emp">
		<id property="empId" column="emp_id"></id>
		<result property="empName" column="emp_name"></result>
		<result property="gender" column="gender"></result>
		<result property="email" column="email"></result>
		<result property="deptId" column="dept_id"></result>
		<result property="deptName" column="dept_name"></result>
	</resultMap>

    <select id="selectAll" resultMap="Emp_Dept_Map">
			select emp_id,
			emp_name,
			gender,
			email,
			dept_id,
			dept_name
			from tbl_emp t1,
			tbl_dept t2
			where t1.d_id=t2.dept_id
	</select>

	<update id="updateEmp" parameterType="Emp">
		update
		tbl_emp
		set
		emp_name=#{empName},
		gender=#{gender},
		email=#{email},
		d_id=#{deptId}
		where
		emp_id=#{empId}
	</update>

	<insert id="addEmp" parameterType="Emp">
		insert
		into
		tbl_emp
		values
		(#{empId},#{empName},#{gender},#{email},#{deptId})
	</insert>

	<delete id="deleteEmp" parameterType="Integer">
		delete
		from
		tbl_emp
		where
		emp_id=#{emp_id}
	</delete>

	<delete id="batchDeletion" parameterType="list">
		delete
		from
		tbl_emp
		<where>
			<if test="list!=null and list.size>0">
				<foreach collection="list" open=" emp_id in(" item="temp" separator="," close=")">
					#{temp}
				</foreach>
			</if>
		</where>
	</delete>

</mapper>